:root {
  --badges-background: #00000000;
}

._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small {
  width: 800px;
  height: 400px;
}
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small ._9c3bea41fd465666-backgroundImage {
  display: none;
}
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small > div,
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-outer {
  width: 100%;
  height: 100%;
  min-height: 0;
  min-width: 0;
  box-sizing: border-box;
}
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-outer.custom-theme-background .c0bea05627c5dc35-inner {
  padding: 4px !important;
  background: linear-gradient(100px --profile-gradient-primary-color, 100px --profile-gradient-secondary-color) !important;
}
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .aa8da23faa27393c-selected {
  color: var(--text-secondary) !important;
}
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .aa8da23faa27393c-selected::after {
  display: none;
}
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner:has(._37bfcf3d457db7a9-tabBarItem:focus, .aa8da23faa27393c-top:focus, ._37bfcf3d457db7a9-tabBarPanel:focus-within, ._37bfcf3d457db7a9-tabBarPanel:focus) ._9c3bea41fd465666-profile ._752971923a1e6683-markup,
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner:has(._37bfcf3d457db7a9-tabBarItem:focus, .aa8da23faa27393c-top:focus, ._37bfcf3d457db7a9-tabBarPanel:focus-within, ._37bfcf3d457db7a9-tabBarPanel:focus) ._9c3bea41fd465666-profile .bf424dc3dc4c8775-section {
  visibility: hidden !important;
  pointer-events: none !important;
}
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner:has(._37bfcf3d457db7a9-tabBarItem:focus, .aa8da23faa27393c-top:focus, ._37bfcf3d457db7a9-tabBarPanel:focus-within, ._37bfcf3d457db7a9-tabBarPanel:focus) ._9c3bea41fd465666-profile .ab86098b36386ff7-container {
  display: none !important;
}
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner:has(._37bfcf3d457db7a9-tabBarItem:focus, .aa8da23faa27393c-top:focus, ._37bfcf3d457db7a9-tabBarPanel:focus-within, ._37bfcf3d457db7a9-tabBarPanel:focus) ._37bfcf3d457db7a9-tabBarPanel {
  display: flex !important;
  opacity: 1;
  pointer-events: all !important;
}
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner:has(._37bfcf3d457db7a9-tabBarItem:focus, .aa8da23faa27393c-top:focus, ._37bfcf3d457db7a9-tabBarPanel:focus-within, ._37bfcf3d457db7a9-tabBarPanel:focus) .aa8da23faa27393c-top::before {
  color: var(--text-secondary);
  border-bottom: none !important;
}
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner:has(._37bfcf3d457db7a9-tabBarItem:focus, .aa8da23faa27393c-top:focus, ._37bfcf3d457db7a9-tabBarPanel:focus-within, ._37bfcf3d457db7a9-tabBarPanel:focus) .aa8da23faa27393c-selected {
  color: var(--selected-tab-item-color) !important;
}
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner:has(._37bfcf3d457db7a9-tabBarItem:focus, .aa8da23faa27393c-top:focus, ._37bfcf3d457db7a9-tabBarPanel:focus-within, ._37bfcf3d457db7a9-tabBarPanel:focus) .aa8da23faa27393c-selected::after {
  display: block !important;
}
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small ._37bfcf3d457db7a9-tabBarPanel {
  opacity: 0;
  z-index: 999;
  pointer-events: none !important;
  padding: 0px 26px;
}
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .aa8da23faa27393c-top::before {
  content: "User Info";
  color: var(--text-primary);
  border-bottom: 2px solid var(--text-primary) !important;
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 13px;
  --tab-item-color: var(--text-primary);
  cursor: pointer;
}
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small ._37bfcf3d457db7a9-tabBarItem:hover {
  color: var(--text-primary) !important;
  cursor: pointer;
}
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small ._37bfcf3d457db7a9-tabBarItem:hover::after {
  display: block;
}
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small ._37bfcf3d457db7a9-tabListScroller {
  position: fixed;
  bottom: 35px;
  left: 20px;
  margin: 0;
  padding: 0;
  z-index: 1;
  border-bottom: unset;
  gap: 15px;
}
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small ._37bfcf3d457db7a9-tabListScroller .aa8da23faa27393c-top {
  border-bottom: unset;
  flex-direction: column;
}
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small ._37bfcf3d457db7a9-tabListScroller .aa8da23faa27393c-item {
  margin-left: 0px !important;
}
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner {
  max-width: 800px !important;
  width: 792px;
  height: 400px !important;
  border-radius: 8px;
  padding: 4px !important;
  overflow: hidden;
  position: relative;
}
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner ._9c3bea41fd465666-profile {
  border-radius: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: calc(55% - 16px);
}
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner ._9c3bea41fd465666-profileHeader {
  min-width: unset !important;
  min-height: unset !important;
  width: 100%;
  height: 100%;
}
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner ._9c3bea41fd465666-profileHeader ._75742e4cc9019aeb-avatar {
  top: 16px;
  left: 16px;
}
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner ._9c3bea41fd465666-profileHeader ._75742e4cc9019aeb-avatar circle,
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner ._9c3bea41fd465666-profileHeader ._75742e4cc9019aeb-avatar rect[fill=black] {
  display: none;
}
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner ._9c3bea41fd465666-profileHeader ._75742e4cc9019aeb-avatar ._44b0c28be7879b7b-mask foreignObject {
  border-radius: calc(var(--avatar-radius) * 2.1) !important;
}
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner ._9c3bea41fd465666-profileHeader .ab86098b36386ff7-container {
  position: fixed;
  top: unset;
  left: unset;
  bottom: 0;
  right: 0;
  z-index: 2;
  width: calc(45% + 16px);
  padding: 20px;
  backdrop-filter: blur(8px);
  box-sizing: border-box;
  border-bottom-right-radius: 10px;
}
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner ._9c3bea41fd465666-profileHeader .ab86098b36386ff7-container > .ab86098b36386ff7-outer {
  border: none;
  box-shadow: none;
  background: transparent;
  min-width: unset;
  max-width: unset;
}
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner ._9c3bea41fd465666-profileHeader .ab86098b36386ff7-container > .ab86098b36386ff7-outer .ab86098b36386ff7-inner {
  background: transparent;
}
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner ._9c3bea41fd465666-profileHeader .ab86098b36386ff7-container > .ab86098b36386ff7-outer::before, ._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner ._9c3bea41fd465666-profileHeader .ab86098b36386ff7-container > .ab86098b36386ff7-outer::after {
  display: none;
}
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner ._9c3bea41fd465666-profileHeader > ._68edb95846a37624-mask {
  width: 100%;
  height: 100%;
}
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner ._9c3bea41fd465666-profileHeader > ._68edb95846a37624-mask ._68edb95846a37624-banner {
  width: 100%;
  height: 100% !important;
  z-index: -1;
  opacity: 0.6;
  mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2862745098));
  -webkit-mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2862745098));
}
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner ._9c3bea41fd465666-profileHeader > ._68edb95846a37624-mask > foreignObject {
  mask: none;
  y: -140px;
  height: 420px;
}
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner ._9c3bea41fd465666-profileBody {
  position: fixed;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-radius: 0;
  width: calc(45% + 16px);
  height: 392px;
  right: 0;
  padding-left: 16px;
}
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner ._9c3bea41fd465666-profileBody::-webkit-scrollbar {
  display: none;
}
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner ._9c3bea41fd465666-profileBody ._9c3bea41fd465666-profileButtons {
  position: fixed;
  bottom: 15px;
  left: 15px;
  z-index: 1;
}
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner ._9c3bea41fd465666-profileBody ._63ed30c16c7151f2-container {
  position: fixed;
  top: 20px;
  left: 165px;
  width: 260px;
}
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner ._9c3bea41fd465666-profileBody ._63ed30c16c7151f2-container ._8061a5f9dbf6d829-container {
  border: none;
  background: var(--badges-background);
  border-radius: 8px;
}
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner ._9c3bea41fd465666-profileBody ._63ed30c16c7151f2-container ._63ed30c16c7151f2-guildTagContainer {
  order: -1;
}
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner ._9c3bea41fd465666-profileBody ._63ed30c16c7151f2-container ._63ed30c16c7151f2-dotSpacer {
  order: -2;
}
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner ._9c3bea41fd465666-profileBody ._63ed30c16c7151f2-container ._63ed30c16c7151f2-userTag {
  order: -3;
}
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner ._9c3bea41fd465666-profileBody section:last-of-type {
  margin-bottom: 50px;
}
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner div[id=mutual_friends-tab] .e766f2028d7616c7-empty,
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner div[id=mutual_guilds-tab] .e766f2028d7616c7-empty {
  padding: 0;
}
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner div[id=mutual_friends-tab] .e766f2028d7616c7-empty .e766f2028d7616c7-textContainer,
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner div[id=mutual_guilds-tab] .e766f2028d7616c7-empty .e766f2028d7616c7-textContainer {
  position: fixed;
  left: unset;
  width: calc(45% + 16px);
  max-width: unset;
  right: 0;
}
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner div[id=mutual_friends-tab] div[class*=tabPanelScroller__],
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner div[id=mutual_guilds-tab] div[class*=tabPanelScroller__] {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(20, 0fr);
  gap: 10px;
  padding-left: 8px;
}
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner div[id=mutual_friends-tab] div[class*=tabPanelScroller__]::-webkit-scrollbar,
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner div[id=mutual_guilds-tab] div[class*=tabPanelScroller__]::-webkit-scrollbar {
  display: none;
}
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner div[id=mutual_friends-tab] div[class*=tabPanelScroller__] div[class*=row__],
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner div[id=mutual_guilds-tab] div[class*=tabPanelScroller__] div[class*=row__] {
  position: relative;
  z-index: 1;
  height: 44px;
  margin: 0;
  padding-left: 10px;
  border-radius: 8px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.0274509804);
}
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner div[id=mutual_friends-tab] div[class*=tabPanelScroller__] div[class*=row__] ._44b0c28be7879b7b-wrapper,
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner div[id=mutual_friends-tab] div[class*=tabPanelScroller__] div[class*=row__] .f34534e8a5d3ca64-icon,
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner div[id=mutual_guilds-tab] div[class*=tabPanelScroller__] div[class*=row__] ._44b0c28be7879b7b-wrapper,
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner div[id=mutual_guilds-tab] div[class*=tabPanelScroller__] div[class*=row__] .f34534e8a5d3ca64-icon {
  position: absolute;
  right: 0;
  z-index: -1;
  width: 62% !important;
  height: 250% !important;
  margin-right: 0;
  border-radius: 0;
  -webkit-mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7960784314));
}
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner div[id=mutual_friends-tab] div[class*=tabPanelScroller__] div[class*=row__] ._44b0c28be7879b7b-wrapper svg,
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner div[id=mutual_friends-tab] div[class*=tabPanelScroller__] div[class*=row__] .f34534e8a5d3ca64-icon svg,
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner div[id=mutual_guilds-tab] div[class*=tabPanelScroller__] div[class*=row__] ._44b0c28be7879b7b-wrapper svg,
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner div[id=mutual_guilds-tab] div[class*=tabPanelScroller__] div[class*=row__] .f34534e8a5d3ca64-icon svg {
  position: relative;
  width: 100%;
  height: 100%;
}
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner div[id=mutual_friends-tab] div[class*=tabPanelScroller__] div[class*=row__] ._44b0c28be7879b7b-wrapper svg foreignObject,
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner div[id=mutual_friends-tab] div[class*=tabPanelScroller__] div[class*=row__] .f34534e8a5d3ca64-icon svg foreignObject,
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner div[id=mutual_guilds-tab] div[class*=tabPanelScroller__] div[class*=row__] ._44b0c28be7879b7b-wrapper svg foreignObject,
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner div[id=mutual_guilds-tab] div[class*=tabPanelScroller__] div[class*=row__] .f34534e8a5d3ca64-icon svg foreignObject {
  width: 100%;
  height: 100%;
  mask: none;
}
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner div[id=mutual_friends-tab] div[class*=tabPanelScroller__] div[class*=row__] ._44b0c28be7879b7b-wrapper svg rect,
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner div[id=mutual_friends-tab] div[class*=tabPanelScroller__] div[class*=row__] ._44b0c28be7879b7b-wrapper svg circle,
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner div[id=mutual_friends-tab] div[class*=tabPanelScroller__] div[class*=row__] .f34534e8a5d3ca64-icon svg rect,
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner div[id=mutual_friends-tab] div[class*=tabPanelScroller__] div[class*=row__] .f34534e8a5d3ca64-icon svg circle,
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner div[id=mutual_guilds-tab] div[class*=tabPanelScroller__] div[class*=row__] ._44b0c28be7879b7b-wrapper svg rect,
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner div[id=mutual_guilds-tab] div[class*=tabPanelScroller__] div[class*=row__] ._44b0c28be7879b7b-wrapper svg circle,
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner div[id=mutual_guilds-tab] div[class*=tabPanelScroller__] div[class*=row__] .f34534e8a5d3ca64-icon svg rect,
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner div[id=mutual_guilds-tab] div[class*=tabPanelScroller__] div[class*=row__] .f34534e8a5d3ca64-icon svg circle {
  display: none;
}
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner div[id=wishlist-tab],
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner div[id=widgets-tab],
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner div[id=mutual_friends-tab],
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner div[id=mutual_guilds-tab] {
  padding: 0;
  padding-left: 12px;
  padding-right: 12px;
}
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner div[id=wishlist-tab] ._37bfcf3d457db7a9-tabPanelScroller::-webkit-scrollbar,
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner div[id=widgets-tab] ._37bfcf3d457db7a9-tabPanelScroller::-webkit-scrollbar,
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner div[id=mutual_friends-tab] ._37bfcf3d457db7a9-tabPanelScroller::-webkit-scrollbar,
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner div[id=mutual_guilds-tab] ._37bfcf3d457db7a9-tabPanelScroller::-webkit-scrollbar {
  display: none;
}
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner div[id=wishlist-tab] ._37bfcf3d457db7a9-tabPanelScroller ._9a5c352fc10aea40-coverList,
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner div[id=widgets-tab] ._37bfcf3d457db7a9-tabPanelScroller ._9a5c352fc10aea40-coverList,
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner div[id=mutual_friends-tab] ._37bfcf3d457db7a9-tabPanelScroller ._9a5c352fc10aea40-coverList,
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner div[id=mutual_guilds-tab] ._37bfcf3d457db7a9-tabPanelScroller ._9a5c352fc10aea40-coverList {
  grid-template-columns: repeat(3, 88px);
}
._9c3bea41fd465666-root:is(._49fc18ba07c5025f-root, ._8a031a135bfcb9ba-container)._49fc18ba07c5025f-small .c0bea05627c5dc35-inner .e766f2028d7616c7-empty {
  padding: 0;
}
