:root {
  --badges-background: #00000000;
}

._59d0d7075b521375-layer .c0bea05627c5dc35-outer ._5be3ef42f92174b2-header {
  min-height: 220px !important;
}
._59d0d7075b521375-layer .c0bea05627c5dc35-outer ._5be3ef42f92174b2-header > ._68edb95846a37624-mask {
  overflow: visible;
  min-height: unset !important;
  contain: unset;
}
._59d0d7075b521375-layer .c0bea05627c5dc35-outer ._5be3ef42f92174b2-header > ._68edb95846a37624-mask ._68edb95846a37624-banner {
  position: absolute;
  height: 200px !important;
  -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 0.7607843137), rgba(0, 0, 0, 0.7607843137));
  mask-image: linear-gradient(rgba(0, 0, 0, 0.7607843137), rgba(0, 0, 0, 0.7607843137));
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 25px), 50% 100%, 0 calc(100% - 25px));
}
._59d0d7075b521375-layer .c0bea05627c5dc35-outer ._5be3ef42f92174b2-header > ._68edb95846a37624-mask > foreignObject {
  mask: none;
}
._59d0d7075b521375-layer .c0bea05627c5dc35-outer .da589062f0c96515-wrapper {
  flex-direction: column;
}
._59d0d7075b521375-layer .c0bea05627c5dc35-outer .ab86098b36386ff7-container {
  top: unset;
  right: unset;
  bottom: -4px;
  left: 16px;
  z-index: 2;
  border-radius: 0;
}
._59d0d7075b521375-layer .c0bea05627c5dc35-outer .ab86098b36386ff7-container > .ab86098b36386ff7-outer {
  border: none;
  box-shadow: none;
  background: transparent;
  min-width: unset;
  max-width: unset;
  border-radius: 0;
}
._59d0d7075b521375-layer .c0bea05627c5dc35-outer .ab86098b36386ff7-container > .ab86098b36386ff7-outer::before, ._59d0d7075b521375-layer .c0bea05627c5dc35-outer .ab86098b36386ff7-container > .ab86098b36386ff7-outer::after {
  display: none;
}
._59d0d7075b521375-layer .c0bea05627c5dc35-outer .ab86098b36386ff7-container > .ab86098b36386ff7-outer > .ab86098b36386ff7-inner {
  padding: 0;
  background: transparent;
}
._59d0d7075b521375-layer .c0bea05627c5dc35-outer .ab86098b36386ff7-container > .ab86098b36386ff7-outer > .ab86098b36386ff7-inner > .ab86098b36386ff7-content .cf48127484dbde85-text-sm\/normal {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 270px;
}
._59d0d7075b521375-layer .c0bea05627c5dc35-outer .ab86098b36386ff7-outer::before, ._59d0d7075b521375-layer .c0bea05627c5dc35-outer .ab86098b36386ff7-outer::after {
  display: none;
}
._59d0d7075b521375-layer .c0bea05627c5dc35-outer ._75742e4cc9019aeb-avatar {
  top: 15px !important;
  left: calc(50% - 40px) !important;
}
._59d0d7075b521375-layer .c0bea05627c5dc35-outer ._75742e4cc9019aeb-avatar ._75742e4cc9019aeb-overlay {
  top: 0;
  left: 0;
}
._59d0d7075b521375-layer .c0bea05627c5dc35-outer ._75742e4cc9019aeb-avatar ._75742e4cc9019aeb-overlay foreignObject {
  mask: none !important;
}
._59d0d7075b521375-layer .c0bea05627c5dc35-outer ._44b0c28be7879b7b-mask circle,
._59d0d7075b521375-layer .c0bea05627c5dc35-outer ._44b0c28be7879b7b-mask rect[fill=black] {
  display: none;
}
._59d0d7075b521375-layer .c0bea05627c5dc35-outer ._5be3ef42f92174b2-body {
  position: static;
}
._59d0d7075b521375-layer .c0bea05627c5dc35-outer ._63ed30c16c7151f2-container {
  position: absolute;
  top: 105px;
  left: 0;
  right: unset;
  width: 100%;
  text-align: center;
  justify-content: center;
  justify-items: center;
}
._59d0d7075b521375-layer .c0bea05627c5dc35-outer ._63ed30c16c7151f2-usernameRow ._63ed30c16c7151f2-clickableUsername {
  width: 100%;
}
._59d0d7075b521375-layer .c0bea05627c5dc35-outer ._63ed30c16c7151f2-usernameRow ._63ed30c16c7151f2-clickableUsername h1 {
  display: block;
  text-align: center;
}
._59d0d7075b521375-layer .c0bea05627c5dc35-outer ._63ed30c16c7151f2-usernameRow ._63ed30c16c7151f2-nicknameIcons {
  display: none;
}
._59d0d7075b521375-layer .c0bea05627c5dc35-outer ._63ed30c16c7151f2-usernameRow {
  gap: 0;
  flex-direction: column;
}
._59d0d7075b521375-layer .c0bea05627c5dc35-outer ._63ed30c16c7151f2-tags {
  margin-top: 2.5px;
  justify-content: center;
  flex-direction: row;
}
._59d0d7075b521375-layer .c0bea05627c5dc35-outer ._63ed30c16c7151f2-tags ._63ed30c16c7151f2-dotSpacer {
  order: -2;
}
._59d0d7075b521375-layer .c0bea05627c5dc35-outer ._63ed30c16c7151f2-tags ._63ed30c16c7151f2-clickableUsername {
  order: -3;
}
._59d0d7075b521375-layer .c0bea05627c5dc35-outer ._63ed30c16c7151f2-tags ._8061a5f9dbf6d829-container {
  border: none;
  background: var(--badges-background);
  border-radius: 8px;
}
._59d0d7075b521375-layer .c0bea05627c5dc35-outer ._63ed30c16c7151f2-tags ._63ed30c16c7151f2-guildTagContainer {
  order: -1;
}
