@use 'backend/classes' as *;

:root {
  --badges-background: #00000000;
}

._59d0d7075b521375-layer {
  #{c(profile outer)} {
    // Banner
    #{c(profile popout bitesize header)} {
      min-height: 220px !important;
    }

    #{c(profile popout bitesize header)} > #{c(profile banner mask)} {
      overflow: visible;
      min-height: unset !important;
      contain: unset;

      #{c(profile banner banner)} {
        position: absolute;
        height: 200px !important;
        -webkit-mask-image: linear-gradient(#000000c2, #000000c2);
        mask-image: linear-gradient(#000000c2, #000000c2);
        clip-path: polygon(0 0, 100% 0, 100% calc(100% - 25px), 50% 100%, 0 calc(100% - 25px));
      }

      & > foreignObject {
        mask: none;
      }
    }

    // Action buttons
    #{c(profile profileButtons wrapper)} {
      flex-direction: column;
    }

    // status
    #{c(profile status container)},
    #{c(profile status ring)} {
      top: unset;
      right: unset;
      bottom: -4px;
      left: 16px;
      z-index: 2;
      border-radius: 0;

      & > #{c(profile status outer)} {
        border: none;
        box-shadow: none;
        background: transparent;
        min-width: unset;
        max-width: unset;
        border-radius: 0;

        &::before,
        &::after {
          display: none;
        }

        & > #{c(profile status inner)} {
          padding: 0;
          background: transparent;

          & > #{c(profile status content)} {
            #{c(text text sm normal)} {
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              max-width: 260px;
            }
          }
        }
      }
    }

    #{c(profile status outer)} {
      &::before,
      &::after {
        display: none;
      }
    }

    // Avatar
    #{c(profile avatar avatar)} {
      top: 15px !important;
      left: calc(50% - 40px) !important;

      // View profile mask
      #{c(profile avatar overlay)} {
        top: 0;
        left: 0;

        foreignObject {
          mask: none !important;
        }
      }
    }

    // Avatar mask
    #{c(avatar mask)} {
      circle,
      rect[fill='black'] {
        display: none;
      }
    }

    #{c(profile popout bitesize body)} {
      position: static;
    }

    // Username
    #{c(profile username container)} {
      position: absolute;
      top: 105px;
      left: 0;
      right: unset;
      width: 100%;
      text-align: center;
      justify-content: center;
      justify-items: center;
    }

    #{c(profile username usernameRow)} #{c(profile username clickableUsername)} {
      width: 100%;
      h1 {
        display: block;
        text-align: center;
      }
    }

    #{c(profile username usernameRow)} #{c(profile username nicknameIcons)} {
      display: none;
    }

    #{c(profile username usernameRow)} {
      gap: 0;
      flex-direction: column;
    }

    // uuh old name and pronouns and badges and ...
    #{c(profile username tags)} {
      margin-top: 2.5px;
      justify-content: center;
      flex-direction: row;

      #{c(profile username dotSpacer)} {
        order: -2;
      }

      #{c(profile username clickableUsername)} {
        order: -3;
      }

      // badges
      #{c(profile badgeList)} {
        border: none;
        background: var(--badges-background);
        border-radius: 8px;
      }

      #{c(profile username guildTagContainer)} {
        order: -1;
      }
    }
  }
}
