@use 'backend' as *;

#{c(userSettings connections connection)},
#{c(userSettings authedApps app)} {
  background: var(--background-secondary);
}

#{c(userSettings connections connectContainer)} {
  background: var(--background-secondary);
}

#{c(userSettings connections connectionHeader)},
#{c(userSettings authedApps header)} {
  background: transparent;

  #{c(userSettings connections connectionDelete)} {
    border-color: transparent;
    border-radius: 50%;
    padding: 8px 8px 5px 8px;
    transition: background 100ms;

    &:hover {
      background: #fff2;
    }
  }
}

#{c(userSettings authedApps detailsContainer)} #{c(userSettings authedApps detailsSection)} {
  border-bottom: 0;
}

//hacky way to make the checkmarks our color. todo: do it better
#{c(userSettings authedApps permissionCheck)} {
  filter: none;
  mask: url('https://discord.com/assets/72e4439bf318b5c5.svg') no-repeat;
  background: var(--main-color);
  mask-size: contain;
}
