@use 'backend' as *;

#{c(button button)},
.bd-button {
  border-radius: 8px;
  transition: box-shadow 200ms;
}

#{c(button button)} {
  &:is(#{c(button colorPrimary)}, .bd-button-color-brand) {
    background-color: var(--main-color);
    border: none;
    &:hover {
      background-color: var(--main-color-hover);
    }
    &:disabled {
      background-color: var(--main-color);
    }
  }

  &:is(#{c(button lookLink)}) {
    background-color: transparent;
    border: none;
    color: var(--main-color) !important;
    &:hover #{c(button contents)} {
      --button--underline-color: var(--main-color) !important;
    }
  }
}

// BUTTON FILLED
#{c(button lookFilled)},
.bd-button-filled {
  &:is(#{c(button colorBrand)}, #{c(button colorPrimary)}, .bd-button-color-brand) {
    background-color: var(--main-color);
    border: none;
    &:hover {
      background-color: var(--main-color-hover);
    }
    &:disabled {
      background-color: var(--main-color);
    }
  }
  &#{c(button colorGreen)} {
    background-color: var(--main-color);
    &:hover {
      background-color: var(--main-color-hover);
    }
    &:disabled {
      background-color: var(--main-color);
    }
    border: none;
  }
  &#{c(button colorRed)} {
    border: none;
  }

  &:is(#{c(button colorWhite)}, #{c(button colorBrandInverted)}) {
    background: var(--main-color);
    border: none;
    color: var(--textcolor);
    &:hover {
      background: var(--main-color-hover);
    }
  }
}

// BUTTON OUTLINE
#{c(button lookOutlined)} {
  &:is(#{c(button colorBrand)}, #{c(button colorPrimary)}) {
    border-color: var(--main-color);
    &:hover {
      border-color: var(--main-color-hover);
      background-color: var(--main-color-hover);
    }
  }
}
