@use 'backend' as *;

#{c(checkbox checkbox)} {
  background-color: var(--background-primary);
  border-color: transparent;
}

#{c(checkbox checkbox)}#{c(checkbox box)}#{c(checkbox checked)} {
  background-color: var(--main-color);
}
