@use 'backend' as *;

#{c(main keyboardMode)} {
  #{c(guildList focusStroke)} {
    stroke: var(--main-color);
    stroke-width: 4px;
  }
}

#{c(sidebar sidebar)} {
  &::after {
    display: none;
  }
}

#{c(guildList upperBadge)} {
  right: 0;
}

#{c(guildList lowerBadge)} {
  bottom: 0;
}

//the guild sidebar itself
#{c(guildList guilds)} {
  --custom-guild-list-width: 90px !important;
  margin-bottom: 0 !important;
  grid-area: guilds;

  //creates a shadow effect at the bottom of the guilds list
  &::before {
    content: '';
    position: absolute;
    bottom: 70px;
    left: 0;
    z-index: 1;
    width: 90px;
    height: 100px;
    background: linear-gradient(360deg, var(--background-tertiary), transparent);
    pointer-events: none;
  }
}

#{c(guildList folderGroupBackground)} {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

#{c(guildList scroller)} {
  margin-bottom: 70px;
  &::-webkit-scrollbar {
    display: none;
  }
}

#{c(guildList closed)} {
    display: none;
}

//home button
#{c(guildList homeWrapper)} {
  background: var(--main-color) !important;
  color: #fff;
  border-radius: 50%;

  &:hover {
    background: var(--main-color);
  }
}

#{c(guildList folderIcon)}{
  border-radius: 50% !important;
  mask: none !important;
}

#{c(guildList serverFolderIconWrapper)} {
  padding-left: 5px;
}

#{c(guildList listItem)} {
  width: 90px;
  margin: 0 0 12px;

  defs g:last-child {
    display: none;
  }
}

#{c(guildList serverWrapperSVG)},
#{c(guildList expandedFolderIconWrapper)} {
  width: 42px !important;
  height: 42px !important;
  left: -1px !important;
  border-radius: 50% !important;
  mask: none !important;
}

//bd i think?
.folderHeader__48112 {
  width: 42px !important;
  height: 42px !important;
  border-radius: 50% !important;
}

#{c(guildList folderGuildsList)} {
  height: calc(100% + 12px) !important;
}

#{c(guildList folderIconWrapper)} {
  transition: border-radius 200ms;

  &:hover {
    border-radius: 12px;
  }
}

#{c(guildList serverWrapper)} {
  & > svg > foreignObject {
    border-radius: 50%;
    mask: none;
  }
}

// create server/discover buttons
#{c(guildList bottomButton)} {
  border-radius: 999px;
  border: dashed 2px var(--epicshadow1);
  background: transparent;
  color: var(--epicshadow1);
  transition: all 0.2s;

  &#{c(guildList bottomButtonSelected)},
  &:hover:not(#{c(guildList bottomButtonDisabled)}) {
    background: transparent;
    color: var(--main-color);
    border-color: var(--main-color);
  }
}

//mentions
#{c(guildList mention mention)} {
  height: 100%;
  background: transparent;
  transition: color 0.2s;
  opacity: 1;
  text-transform: capitalize;
  color: var(--textcolor);
  animation: fade 0.5s;
  border-color: transparent;
  box-shadow: none;
  border-radius: 8px;

  &:hover {
    color: var(--main-color);
  }

  &:active {
    color: var(--main-color);
    background: #{op(var(--main-color), 20%)};
  }
}

#{c(guildList mention top)} {
  top: -5px;
}

#{c(guildList mention top)},
#{c(guildList mention bottom)} {
  width: 100%;
  height: 30px;
  padding: 0;
}

#{c(guildList mention bottom)} {
  bottom: 0 !important;
  position: absolute;
}
