@use 'backend' as *;

#{c(sidebar panel panels)} {
  border-radius: 0;
  padding-right: 0px;
  z-index: unset;
  border-color: transparent;
  bottom: 0;
  left: 0;
  transform: translateX(91px);
  width: calc(100% - 91px);
  // transition:
  //   transform 0.2s ease-out,
  //   width 0.2s ease-out;
  padding: 10px 8px;
  background: var(--background-secondary);
}

// Game part, i.e. "Go Live"
#{c(sidebar panel activity activityPanel)} {
  position: absolute;
  bottom: 17px;
  right: 119px;
  padding: 0;
  border-radius: 8px;
  background: var(--background-secondary);
  border-color: transparent;
}

#{c(sidebar panel activity gameWrapper)} {
  display: none;
}

#{c(sidebar panel activity actions)} {
  margin: 0;
  #{c(sidebar panel buttons button)} {
    color: var(--main-color);

    &:hover {
      color: var(--main-color);
    }
  }
}

//avatar
#{c(sidebar panel avatarWrapper)}[aria-expanded] {
  #{c(avatar wrapper)} {
    position: fixed;
    left: -68px;
    bottom: 22px;
    z-index: 1;
  }

  &:hover {
    background-color: transparent;
  }
}

#{c(main appLayers)}:has(#{c(guildList wrapper)}:nth-of-type(2):not(#{c(guildList closed)}), .vc-betterFolders-sidebar) {
  #{c(main base)} {
    #{c(sidebar panel panels)} {
      transform: translateX(182px);
      width: calc(100% - 182px);
    }

    #{c(sidebar panel avatarWrapper)}[aria-expanded] {
      #{c(avatar wrapper)} {
        left: calc(-68px - 45.5px);
      }
    }

    #{c(guildList mention bottom)} {
      position: fixed;
      width: 90px;
      left: 42px;
      bottom: 0;
    }
    #{c(guildList mention top)} {
      position: fixed;
      width: 90px;
      left: 42px;
      top: 22px;
    }
  }

  #{c(main appLayer)} {
    &:not(#{c(main baseLayer)}) {
      margin-left: 180px !important;
    }
  }
}

//buttons

#{c(sidebar panel buttons button)} {
  color: #888;

  &[aria-checked='false']#{c(sidebar panel buttons enabled)} {
    color: var(--main-color);
  }
}

//server call

#{c(call wrapper)} {
  background: #000;
  margin: 0;
  border-radius: 0;
  animation: unset;
}

#{c(call root)} {
  background: var(--background-tertiary);
}

#{c(call headerWrapper)} {
  width: unset;
}

#{c(call colorable)}#{c(call primaryDark)},
#{c(call buttonSection)},
#{c(stage participantsButton)},
#{c(stage participantsButton)}:hover {
  background: var(--background-secondary);
}

//speaking rings
#{c(call videoSpeaking)},
#{c(call videoBorder)}#{c(call videoSpeaking)},
#{c(call avatarBorder)}#{c(call avatarSpeaking)},
#{c(avatar speaking)},
#{c(sidebar server channels voice avatarSpeaking)} {
  box-shadow:
    inset 0 0 0 2.5px var(--main-color),
    inset 0 0 0 4.5px var(--background-secondary);
}

#{c(call quickSelectPopoutOption)} {
  background: var(--background-primary);
}

#{c(call quickSelectPopoutOption)}:focus {
  background: var(--background-secondary-alt-alt) !important;
}

#{c(call quickSelectPopoutOption)}:hover {
  background: var(--background-secondary) !important;
}

#{c(call tileBackground)} {
  background: var(--background-secondary) !important;
}
