@use 'backend' as *;

#{c(sidebar panel panels)} {
  border-radius: 0;
  border-color: transparent;
  bottom: 0;
  left: 1px; //idk
  padding: 0px;
  width: 100%;
  background: var(--background-secondary);
  padding-bottom: 10px;
  overflow: hidden;
  grid-area: panels;
}

// Game part, i.e. "Go Live"
#{c(sidebar panel activity activityPanel)} {
  background: transparent;
  border-color: transparent;
  height: 0;
  padding: 0 !important;
  top: 171px
}

#{c(sidebar panel activity body)} {
  height: 0;
  padding-right: 132px;
}

#{c(sidebar panel activity gameWrapper)} {
  min-width: 133px;
  #{c(sidebar panel activity streamingWrapper)},
  #{c(sidebar panel activity info)} {
    display: none;
  }
}

#{c(sidebar panel activity actions)} {
  margin: 0;
  padding: 0;
  #{c(sidebar panel buttons button)} {
    color: var(--main-color);

    &:hover {
      color: var(--main-color);
    }
  }
}

#{c(sidebar panel voice container)} {
  border-bottom: 0;
}

//discord still has not fixed this 💀
.align-chat-input {
  #{c(sidebar panel voice connection)},
  #{c(sidebar panel voice inner)},
  #{c(sidebar panel voice rtcConnection status)} {
    height: 50px;
  }
}

//avatar
#{c(sidebar panel avatarWrapper)} {
  min-width: 50px !important;
  #{c(avatar wrapper)} {
    position: fixed;
    left: calc(45px - 16px);
    bottom: 30px;
    z-index: 1;
  }

  &:hover {
    background-color: transparent;
  }
}

// #{c(main appLayers)}:has(#{c(guildList wrapper)}:nth-of-type(2):not(#{c(guildList closed)}), .vc-betterFolders-sidebar) {
//   #{c(main base)} {
//     #{c(sidebar panel panels)} {
//       transform: translateX(182px);
//       width: calc(100% - 182px);
//     }

//     #{c(sidebar panel avatarWrapper)}[aria-expanded] {
//       #{c(avatar wrapper)} {
//         left: calc(-68px - 45.5px);
//       }
//     }

//     #{c(guildList mention bottom)},
//     #{c(guildList mention top)} {
//       left: 41px;
//     }
//   }

//   #{c(main appLayer)} {
//     &:not(#{c(main baseLayer)}) {
//       margin-left: 180px !important;
//     }
//   }
// }

//buttons

#{c(sidebar panel buttons button)} {
  color: #888;

  &[aria-checked='false']#{c(sidebar panel buttons enabled)} {
    color: var(--main-color);
  }
}

//server call

#{c(call wrapper)} {
  background: #000;
  margin: 0;
  border-radius: 0;
  animation: unset;
}

#{c(call root)} {
  background: var(--background-tertiary);
}

#{c(call headerWrapper)} {
  width: unset;
}

#{c(call colorable)}#{c(call primaryDark)},
#{c(call buttonSection)},
#{c(stage participantsButton)},
#{c(stage participantsButton)}:hover {
  background: var(--background-secondary);
}

//speaking rings
#{c(call videoSpeaking)},
#{c(call videoBorder)}#{c(call videoSpeaking)},
#{c(call avatarBorder)}#{c(call avatarSpeaking)},
#{c(avatar speaking)},
#{c(sidebar server channels voice avatarSpeaking)} {
  box-shadow:
    inset 0 0 0 2.5px var(--main-color),
    inset 0 0 0 4.5px var(--background-secondary);
}

#{c(call quickSelectPopoutOption)} {
  background: var(--background-primary);
}

#{c(call quickSelectPopoutOption)}:focus {
  background: var(--background-secondary-alt-alt) !important;
}

#{c(call quickSelectPopoutOption)}:hover {
  background: var(--background-secondary) !important;
}

#{c(call tileBackground)} {
  background: var(--background-secondary) !important;
}
