@use 'backend' as *;
@use 'snippets/profilePopout' as *;

.layer__59d0d {
  #{c(profile outer)} {
    &:not(#{c(profile customTheme)}) {
      #{c(profile inner)} {
        background: var(--background-tertiary);
      }

      #{c(profile playing card)} {
        background: var(--background-secondary);
      }
    }
  }
}
