:root {

  .sidebar_c48ade {
    background: var(--background-tertiary);
  }

  .container__2637a {
    background: var(--background-secondary);
  }

  // Server name
  .header_f37cb1 {
    box-shadow: none;
    padding: 25px;
    border-radius: 8px;
    background: transparent !important;
    border-color: transparent;
  }

  // Discord weird way to make space between server name and channels
  #channels div[style="height: 12px;"],
  #channels div[style="height: 16px;"] {
    display: none;
  }

  // Channel notice
  .channelNotice-tO6Tus,
  .channelNotice-3DDmsB {
    box-shadow: none;
    width: 170px;
    background: transparent;
    margin: 15px;
    padding: 20px;
    background: var(--background-primary);
    border-radius: 10px;
    position: absolute;
    top: 0;
    z-index: 10;
    height: 60px;
    transition: height 400ms;

    &::before {
      content: "announcement";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      opacity: 1;
      color: var(--textcolor);
      z-index: 1;
      font-size: 24px;
      font-family: "Material Icons", sans-serif;
      transition: opacity 200ms;
    }

    .message-3KLVy1 {
      opacity: 0;
      pointer-events: none;
      transition: opacity 400ms;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      width: 100%;
      margin-bottom: auto;

      .btn-38SvSS,
      .btn-38SvSS:hover {
        background: var(--background-secondary-alt-alt);
        margin: 0 auto;
        margin-top: 20px;
        z-index: 1;
        width: unset;
      }

      &>div {
        margin-bottom: auto;
      }
    }

    .message-39hdqk {
      opacity: 0;
      margin-top: 30px;
      pointer-events: none;
      width: calc(100% + 20px);
      transition: opacity 400ms;
    }

    .button_dd4f85 {
      background: var(--background-secondary-alt-alt);
      opacity: 0;
      pointer-events: none;
      transition: opacity 400ms;
    }

    &:hover {
      height: 160px;

      .message-3KLVy1,
      .message-39hdqk {
        pointer-events: all;
        opacity: 1;
      }

      &::before {
        opacity: 0;
      }

      .button_dd4f85 {
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  // Categories
  .wrapper__29444 {
    padding: 0 22px;
  }

  .container__13cf1 {
    color: var(--textcolor);
    text-transform: unset;
    font-size: 14px;
  }

  // No arrows for categories
  .icon__29444 {
    display: none;
  }

  // Channels
  .wrapper__2ea32 {
    height: 30px;
    margin: 0;

    .link__2ea32 {
      padding: 6px 20px;
      border-radius: 0;
    }
  }

  .unread__2ea32 {
    left: 0;
  }

  // Thread channels
  .typeThread__2ea32 .name__2ea32 {
    padding-left: 28px;
  }

  // New message bar
  .containerPadding__7aaec {
    padding: 0;
    margin: 0 0 4px 0;

    .bar__7aaec {
      padding: 8px;
      border-radius: 4px;
      background: var(--main-color);

      .barText__7aaec,
      .unreadIcon__7aaec {
        color: white !important;
      }
    }
  }

  // No scrollbars
  .scroller__629e4,
  .scroller__36d07,
  #channels {
    &::-webkit-scrollbar {
      display: none;
    }
  }

  // List of people on call channels
  .containerDefault_c69b6d:has(.linkBottom__2ea32) .list__07f91 {
    background-color: var(--background-primary);
    margin: 20px;
    padding: 0;
    border-radius: 20px;

    .audienceContainer__55bab {
      position: absolute;
      top: 15px;
      right: 20px;
      padding: 0 8px;
      justify-content: end;
      width: unset;
      max-width: 220px;
      background: transparent;
    }

    .content__07f91 {
      border-radius: 0;

      .avatar__07f91 {
        border-radius: var(--avatar-radius);
      }
    }

    // me when no overflow: hidden
    .draggable__55bab:first-child .content__07f91 {
      border-radius: 12px 12px 0 0;
    }

    .draggable__55bab:last-child .content__07f91 {
      border-radius: 0 0 12px 12px;
    }
  }
}