@use 'backend' as *;

#{c(chat messagesWrapper)},
#{c(chat subtitleContainer)},
#{c(chat chatContentInner)} {
  background: var(--background-primary);
}

#{c(chat chatScroller)} {
  &::-webkit-scrollbar {
    display: none;
  }
}

#{c(chat chatGradientBase)} {
  background: linear-gradient(to bottom, transparent, var(--background-primary) 72px, var(--background-primary) 100%) !important;
}
