@use 'backend' as *;

#{c(memberList container)} {
  margin-top: -48px;
  background: var(--background-secondary-alt);
  border-color: transparent;
  height: auto;
  padding-bottom: 52px;
}

#{c(memberList wrap)} {
  padding-top: 48px;
  max-height: calc(100% + 48px);
}

#{c(memberList members)} {
  background: var(--background-secondary-alt);

  &::-webkit-scrollbar {
    display: none;
  }
}

#{c(memberList member)} {
  margin: 0;
  background: var(--background-secondary-alt);
}

#{c(memberList layout)} {
  padding: 7.5px 22px;
  width: calc(100% - 22px);
  border-radius: 0;
}
