@use 'backend' as *;

#{c(memberList container)} {
  border-color: transparent;
  border-left: none;
  margin-top: -48px;
}

#{c(memberList wrap)} {
  //margin-top: -48px;
  padding-top: 48px;
  max-height: calc(100% + 48px);
  height: calc(100% + 48px);
}

#{c(memberList members)} {
  //margin-top: -48px;
  &::-webkit-scrollbar {
    display: none;
  }
}

#{c(memberList member)} {
  margin: 0;
}

#{c(memberList layout)} {
  padding: 7.5px 22px;
  width: calc(100% - 22px);
  border-radius: 0;
}