@use 'backend' as *;

#{c(tooltips tooltip)} {
  background: var(--background-secondary-alt);
  color: var(--textcolor);
}

#{c(tooltips pointer)} {
  border-top-color: var(--background-secondary-alt) !important;
}
